<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <img class="w-100 border border-dark" src="../../../../assets/img/picture/Italie1.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-8 d-flex justify-content-center align-items-left flex-column">
            <p class="">Hi! My name is Ophélie, I’m in my 20’s and I live in Belgium. I am a very creative person and have been pretty much my whole life. </p>
            <p class="">Welcome to my website where you can enjoy all the products of my creativity!</p>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-sm-12 col-md-6">
            <img class="border border-dark w-100" src="../../../../assets/img/painting/IMG_9440crop.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-6">
            <img class="border border-dark w-100" src="../../../../assets/img/picture/IMG_53911.jpg" alt="">
        </div>
    </div>

    <div>
        <img class="border border-dark w-100" src="../../../../assets/img/picture/CapeTown1.jpg" alt="">
    </div>

    <div class="row my-5">
        <div class="col-sm-12 col-md-6">
            <img class="border border-dark w-100" src="../../../../assets/img/picture/IMG_5591.JPG" alt="">
        </div>
        <div class="col-sm-12 col-md-6">
            <img class="border border-dark w-100" src="../../../../assets/img/painting/IMG_0836.JPG" alt="">
        </div>
    </div>
</div>
