<div class="container">
    <div class="row my-3">
        <div class="d-flex col-sm-12 col-md-8 align-items-center text-right">
            <div>
                <p>Hi! My name is Ophélie, I’m in my 20’s and I live in Belgium. I am a very creative person and have been pretty much my whole life. I have followed a few courses at the Academy of Beaux-Arts when I was little but quickly realized that I much more enjoyed the freedom of an atelier. </p>
                <p>So, whether it is painting or photography, I’m pretty much an autodidact (except for food photography, for which I took a course). I enjoy creating art that is very vibrant, with a lot of contrast and bright colors. </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <img class="w-100 border border-dark" src="../../../../assets/img/portraits/Oph1.jpeg" alt="">
        </div>
    </div>
    <div class="my-5 text-justify">
        <p>Because I’m a creative person, it is hard for me to stick to only one category when it comes to art. </p>
        <p>So, regarding photography my main passion is portrait, but I also really enjoy photographing events and lately, food! I am that person that often carries a camera even when it’s not really necessary. </p>
        <p>Painting, on the other hand, is a very therapeutic experience for me. It helps me clear my head and I don’t really choose in advance the outcome, I just trust the process. </p>
        <p>Welcome into my universe, I hope you enjoy it!</p>
    </div>
    <div class="mb-4 d-flex justify-content-center">
        <img class="w-50 border border-dark" src="../../../../assets/img/portraits/Oph2.jpeg" alt="">
    </div>
</div>