p{
    font-size: 1.1rem;
}

.divAboutText{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../../../assets/img/painting/IMG_8134crop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
