#divContact{
    height: 60vh;
    border: 1px black solid;
    background-image: url(../../../../assets/img/picture/CapeTown1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contactTitle{
    position: relative;
    z-index: 3;
    h2{
        font-size: 2rem;
    }
}

#contactTitle + img {
    position: relative;
}
