<link rel="stylesheet" href="contact-view.component.scss">
<div class="container">
    <div id="divContact" class="w-100 d-flex align-items-center justify-content-center">
        <div id="contactTitle" class="w-75 h-75 d-flex justify-content-center align-items-center">
            <h2 class="text-center">Contact Us</h2>
        </div>
    </div>

    <div class="my-5">
        <div>
          <h3 id="infoTitle" class="text-center">Informations</h3>
          <div class="row">
            <div class="col-6 d-flex justify-content-center">
              <div>
                <p>E-mail: mama@gmail.com</p>
                <p>Phone: +32 458 2525 45</p>
                <p>Instagram: @laploubelle</p>
              </div>
            </div>
            <div class="col-6 text-justify d-flex justify-content-center">
              <div class="w-75">
                <p>You can contact us if you want Ophelie to take magnificent pictures at any event or anything else in regard of a photography or a painting!</p>
                <p>Just use the form below and we'll be in touch as soon as possible!</p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row mb-4">
      <div class="col-3"></div>
      <div class="col-6">
        <app-contact-form></app-contact-form>
      </div>
      <div class="col-3"></div>
    </div>
</div>
