<div class="container">
    <div>
        <img class="w-100 border border-dark" src="../../../../assets/img/picture/IMG_52381.jpg" alt="">
        <div id="contactTitle">
            <h2 class="">Contact Us</h2>
        </div>
    </div>

    <div class="row my-5 align-items-center">
        <div class="col-sm-12 col-md-6">
            <h3>Informations</h3>
            <p>E-mail: mama@gmail.com</p>
            <p>Phone: +32 458 2525 45</p>
            <p>Instagram: @laploubelle</p>
        </div>
        <div class="col-sm-12 col-md-6">
            <app-contact-form></app-contact-form>
        </div>
    </div>
</div>