<div class="container">
  <h1 class="text-center">Painting List</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Preview</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let painting of paintingList">
      <th scope="row">{{painting.id}}</th>
      <th scope="row"><img class="imgAdminPaintingList" src="../../../../../assets{{painting.src}}"></th>
      <th scope="row">{{painting.name}}</th>
      <th scope="row">{{painting.paintingType.name}}</th>
      <td><a class="btn btn-outline-info">Edit</a></td>
      <td><a class="btn btn-outline-danger">Delete</a></td>
    </tr>
    </tbody>
  </table>
</div>
