<div class="container">
  <h1 class="text-center">Photography Purchase List</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Status</th>
      <th scope="col">Username</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let picture of picturePurchaseList">
      <th scope="row">{{picture.id}}</th>
      <th scope="row">{{picture.status}}</th>
      <th scope="row">{{picture.user.username}}</th>
      <td><a class="btn btn-outline-info" href="admin/picture/purchase/{{picture.id}}">Details</a></td>
      <td><a class="btn btn-outline-success">Edit</a></td>
      <td><a class="btn btn-outline-danger" (click)="delete(picture.id)">Delete</a></td>
    </tr>
    </tbody>
  </table>
</div>
