<script src="shop-picture.component.ts"></script>
<div class="row w-100">
  <div class="col-1">
  </div>
  <div class="col-md-8 pl-5 row">
    <div class="col-sm-12 col-md-4" *ngFor="let picture of pictureList">
      <app-tile
        [name]="picture.name"
        [src]="picture.src"
        [description]="picture.description"
        [price]="picture.price"
        [eventCategory]="picture.eventCategory.name"
        [item]="picture"
        (buy)="buyAction($event)"
      ></app-tile>
    </div>
  </div>
  <div class="col-md-3">
    <app-basket [items]="panier"></app-basket>
  </div>
</div>
